@import url('../fonts/oswald/oswald.css');
@import url('../fonts/abeezee/abeezee.css');

body {
	font-family: AbeezeeRegular;
	font-size: 16px;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: OswaldRegular;
}

* {
	box-sizing: border-box;
}

.main {
	display: block;
	margin: auto;
	overflow: auto;
}
.page-header {
	text-align: center;
	font-size: 175%;
	margin: 40px auto;
}
.col {
	display: inline-block;
	width: 33%;
	float: left;
	padding: 0 1.5%;
}
.content {
	border: 1px solid #333;
	padding: 10px;
	padding-top: 40px;
	position: relative;
	background-color: rgba(128,128,128, .4);
}
.content .title {

	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	max-width: 250px;
	text-align: center;
	border: 1px solid #333;
	margin: 0;

	font-size: 125%;
}
.t1 {
	background-color: rgba(255, 127, 80, 0.4);
	color: #141414;
}
.t2 {
	background-color: rgba(139, 0, 0, 0.7);
	color: #fff;
}
.t3 {
	background-color: rgba(255, 165, 0, 0.6);
	color: #141414;
}

@media screen and (max-width: 991px ) {
	.col {
		width: 50% ;
	}
	.col-t {
		width: 100%;
		clear: both;
		margin-top: 30px;
	}
	
}
@media screen and (max-width: 767px ) {
	.col {
		width: 100%;
		clear: both;
		margin-top: 30px;
	}
}

/*
 Breakpoints

 Desktop >= 992px
 Tablet >= 768px
 Mobile <= 767px

*/