.navbar {
   color: #ccc;
   font-weight: 700;
   background-color: #141414;
  }
  .navbar h1{
  margin: 0;
  
  }
  ul#mobile-nav li {
  border-bottom: 2px solid #ccc;
  }
  ul#mobile-nav li:last-of-type{
  margin-bottom: -8px;
  border-bottom: 2px solid #ccc;
  }
  #page-header{
  margin-top: 70px;
  margin-bottom: 30px;
  }
  .content{
  background-color: #aaa;
  }
  @media screen and (max-width: 767px){
   #bs-example-navbar-collapse-1{
     background-color: white;
   }
  }
